* {
    background-color: black;
    color: rgb(255, 255, 255);
}

.cbutton {
    display: inline-block;
    border-radius: 10px;
    border: none;
    background-color: rgb(177, 136, 75);
    color: rgb(0, 0, 0);
}

.cbutton:hover {
    background-color: rgb(219, 174, 106);
    color: rgb(0, 0, 0);
}

.login {
    margin-left: 30%;
}