.gridContainer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    height: 400px;
    padding-top: 15px;
}

.lateralCol {
    color: white;
    padding-top: 200px;
    height: 60vh;
    text-align: center;
}

.content {
    background-color: rgba(93, 207, 223, 0.1);
    border-radius: 10px;
    text-align: center;
    overflow-y: auto;
    border: 1px solid rgba(102, 108, 112, 0.37);
}

.arrow {
    border: solid rgba(231, 185, 99, 0.925);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 12px;
    transition: .5s ease-out;
}

.arrow:hover{
    border: solid rgb(241, 203, 132);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 12px;
}
  
.right {
    transform: rotate(-45deg);
}

.right:hover {
    transform: rotate(-45deg) scale(1.2);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.left:hover{
    transform: rotate(135deg) scale(1.2);
}

span {
    color:black;
    margin-left: 15px;
    transition: .5s ease-in-out;
}

span:hover {
    color: rgb(241, 203, 132);
}