.gridContainer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    height: 400px;
    padding-top: 15px;
}

.lateralCol {
    color: white;
    padding-top: 200px;
    height: 60vh;
    text-align: center;
}

.content {
    background-color: rgba(93, 207, 223, 0.1);
    border-radius: 20px;
    text-align: center;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 12px;
}

.arrow:hover{
    border: solid rgb(133, 124, 78);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

